[submodule ".vim/vim-plug/SyntaxComplete"]
	path = .vim/vim-plug/SyntaxComplete
	url = https://github.com/vim-scripts/SyntaxComplete
[submodule ".vim/vim-plug/ag.vim"]
	path = .vim/vim-plug/ag.vim
	url = https://github.com/rking/ag.vim
[submodule ".vim/vim-plug/fzf.vim"]
	path = .vim/vim-plug/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule ".vim/vim-plug/nerdtree"]
	path = .vim/vim-plug/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule ".vim/vim-plug/tsuquyomi"]
	path = .vim/vim-plug/tsuquyomi
	url = https://github.com/Quramy/tsuquyomi
[submodule ".vim/vim-plug/typescript-vim"]
	path = .vim/vim-plug/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
[submodule ".vim/vim-plug/vim-fugitive"]
	path = .vim/vim-plug/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/vim-plug/vim-rhubarb"]
	path = .vim/vim-plug/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb
[submodule ".vim/vim-plug/vim-ripgrep"]
	path = .vim/vim-plug/vim-ripgrep
	url = https://github.com/jremmen/vim-ripgrep
[submodule ".vim/vim-plug/yats.vim"]
	path = .vim/vim-plug/yats.vim
	url = https://github.com/HerringtonDarkholme/yats.vim
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
