0 10 * * * brew update && brew cleanup &> /var/log/cron.log
0 10 * * * tldr --update &> /var/log/cron.log
*/60 * * * * rm -f "$HOME"/Desktop/Screen\ Shot* &> /var/log/cron.log
*/60 * * * * rm -rf "$HOME"/Downloads/*.@(gif|mkv|mp4|dmg) &> /var/log/cron.log
