#!/usr/bin/env bash

alias h='$(history | fzf | cut -c8-)'
alias l='ls -hAlF | fzf'

alias g=git
alias gh='github ./'

alias dk=docker
alias dkc=docker-compose

alias gpg-new='gpg --full-generate-key'
alias gpg-secret='gpg --list-secret-keys --keyid-format LONG'
alias gpg-kill='gpgconf --kill gpg-agent'

alias zperf='/usr/bin/time -p zsh -i -c exit'
alias size='du -h -d 1'
alias xc='open *.xcworkspace([1])'
alias snip='pet search | pbcopy'
alias spd='speedtest-cli'
alias path='echo $PATH | tr ":" "\n"'
alias jqfix='pbpaste | jq . | pbcopy'
alias shrug='echo "¯\_(ツ)_/¯" | pbcopy'
alias tflip='echo "(╯°□°)╯︵ ┻━┻" | pbcopy'
alias shebang='echo "#!/usr/bin/env bash" | pbcopy'
alias wifi='osascript $HOME/dotfiles/bin/applescript/wifi.scpt'
