#!/usr/bin/env bash

alias h='$(history | fzf | cut -c8-)'
alias l='ls -hAlF | fzf'

alias g=git
alias gh='github ./'

alias dk=docker
alias dkc=docker-compose

alias gpg-new='gpg --full-generate-key'
alias gpg-long='gpg --list-secret-keys --keyid-format LONG'

alias xc='open *.xcworkspace([1])'
alias snip='pet search | pbcopy'
alias spd='speedtest-cli'
