#!/usr/bin/env bash

function dot() {
    pushd ~/dotfiles
    vim
}

# change browser
function cb() {
    open /System/Library/PreferencePanes/Appearance.prefPane
}

# git
function gpr() {
    local -r BRANCH="$1"
    g --no-pager diff --stat "$BRANCH"
}
function gx() {
    git fetch origin
    for branch in $(git --no-pager branch | grep -v master); do
        echo "Attempting delete with -d"
        if git branch -d "$branch" 2>/dev/null; then
            return
        else
            git ls-remote --exit-code --heads origin "$branch"
            if [[ $? -eq 2 ]]; then
                echo "Force deleting"
                git branch -D "$branch"
            fi
        fi
    done
}

# gpg
function gpg-id() {
    gpg-long | grep -B 2 "$1" | head -n1 | cut -d/ -f2 | cut -d' ' -f1
}
function gpg-export() { # gpg-export [-secret-key] ID
    if [[ -n $2 ]]; then
        gpg "--export$1" --armor "$2" | pbcopy
    else
        gpg --export --armor "$1" | pbcopy
    fi
}
function gpg-import() {
    echo -e "$(pbpaste)" | gpg --batch --passphrase "$1" --import
}
function gpg-rm() {
    gpg --delete-secret-key "$1"
    gpg --delete-key "$1"
}
function gpg-git() {
    gpg-id "$1" | xargs git config --global user.signingkey
}

# fzf
function rgvim() {
    rg $1 | fzf | cut -d':' -f1 | xargs -o vim
}
function fe() {
    local EDITOR
    local QUERY
    if [ $# -eq 1 ]; then
        EDITOR=$1
        QUERY=$2
    else
        EDITOR=vim
        QUERY=$1
    fi
    local FILES
    # shellcheck disable=SC2207
    IFS=$'\n' FILES=($(fzf-tmux --query="$QUERY" --multi --select-1 --exit-0))
    # shellcheck disable=SC2128
    [[ -n $FILES ]] && ${EDITOR:-$EDITOR} "${FILES[@]}"
}
function fzcd() {
    local DIRECTORY
    DIRECTORY=$(find "${1:-.}" -path '*/\.*' -prune -o -type d -print 2> /dev/null | fzf +m) &&
    cd "$DIRECTORY" || exit 1
}

# zsh
function zhelp() {
    if [[ -d ~/.oh-my-zsh/plugins/$1 ]]; then
        less ~/.oh-my-zsh/plugins/$1/$1.plugin.zsh
    elif [[ -d ~/.oh-my-zsh/custom/plugins/$1 ]]; then
        less ~/.oh-my-zsh/custom/plugins/$1/$1.plugin.zsh
    else
        echo "Could not find plugin $1"
    fi
}
function zalias() {
    zhelp $1 | rg "alias\b"
}
