#!/usr/bin/env bash

function dot() {
    local -r ROOT_DIR=~/dotfiles
    case $(printf "cd\nscripts\nvim\n" | fzf) in
        "cd" ) pushd $ROOT_DIR || exit ;;
        "vim" ) pushd $ROOT_DIR && vim || exit ;;
        "scripts" )
            local -r PARENT_DIR=$ROOT_DIR/scripts
            local -r BIN=$(find $PARENT_DIR -type f | sed "s|$PARENT_DIR/||" | fzf)
            bash "$PARENT_DIR/$BIN"
            ;;
    esac
}

# ping-style TCP test
function pong() {
    local -r HOSTNAME=$1
    if [[ -z $HOSTNAME ]]; then
        echo "Usage: pong HOSTNAME [PORT]"
        return 1
    fi
    local -r PORT=${2-80}
    nc -z -w 1 "$HOSTNAME" "$PORT"
}

function convox-ssh() {
    local -r RACK=$(convox racks | tail -n +2 | grep running | cut -d/ -f2 | cut -d" " -f1 | fzf)
    local -r APP=$(convox apps -r "$RACK" | tail -n +2 | grep running | cut -d" " -f1 | fzf)
    local -r SERVICE=$(convox services -r "$RACK" -a "$APP" | tail -n +2 | cut -d" " -f1 | fzf)
    printf "%s\n" "SSHing into $APP $SERVICE..."
    convox run "$SERVICE" bash -r "$RACK" -a "$APP"
}

function brew-own() {
    local -r PREFIX=$(brew --prefix)
    local -r USER=$(whoami)
    sudo chown -R "$USER" "$PREFIX"/Caskroom
    sudo chown -R "$USER" "$PREFIX"/Cellar
}

function wifi() {
    networksetup -setairportpower en0 off
    networksetup -setairportpower en0 on
}

# zsh
function zhelp() {
    if [[ -d ~/.oh-my-zsh/plugins/$1 ]]; then
        less "$HOME/.oh-my-zsh/plugins/$1/$1.plugin.zsh"
    elif [[ -d ~/.oh-my-zsh/custom/plugins/$1 ]]; then
        less "$HOME/.oh-my-zsh/custom/plugins/$1/$1.plugin.zsh"
    else
        echo "Could not find plugin $1"
    fi
}
function zalias() {
    zhelp "$1" | rg "alias\b"
}
